@import "tailwindcss";

@theme {
  --color-wa-bg: #111B21;
  --color-wa-card: #1F2C33;
  --color-wa-primary: #25D366;
  --color-wa-teal: #00A884;
  --color-wa-text: #E9EDEF;
  --color-wa-dim: #8696A0;
  --color-wa-border: #313D45;
  --color-wa-green: #075E54;
}

@layer base {
  body {
    @apply bg-wa-bg text-wa-text font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374045;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #525c61;
}
